* {
    box-sizing: border-box;
}

header {
    text-align: center;
}

.adding-activities-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.all-activities-container {
    display: flex;
}

.activities-container {
    width: 50%;
}

.completed-activities-container {
    width: 50%
}

#activity-input {
    width: 70%;
    font-size: larger;
}

#add-button {
    background-color: rgb(15, 233, 15, 0.8);
    text-align: center;
    width: 15%;
    margin-right: 7.5%;
    border: 1px solid black;
    border-radius: 20px;
}

#add-button:hover {
    cursor: pointer;
    background-color: rgba(22, 183, 22, 0.8);
}

.to-do-item-container {
    width: 96%;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: right;
    gap: 10px;
    align-items: center;
}

.activity-text {
    margin-right: auto;
    margin-left: 10px;
    overflow: scroll;
    order: 10;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 0, 0.2);
    width: 12%;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    order: 20;
}

.submit-btn:hover {
    background-color: rgb(0, 255, 0, 0.5);
}

.remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.2);
    width: 12%;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 25px;
    order: 30;
}

.remove-btn:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.unsubmit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(47, 45, 45, 0.2);
    width: 12%;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    order: 20;
}

.unsubmit-btn:hover {
    background-color: rgb(47, 45, 45, 0.5);
}
